@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-bar::-webkit-scrollbar {
      display: none;
  }

  .custom-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .light{
    color: white;
  }

  .light:hover{
    color: black!important;
  }
}
